$primary-color: #9646f5;
$layout-header-background: #5d2e8c;
$text-color: #4e4b5c;
$input-placeholder-color: #9b9b9b;
$input-background-color: #f5f5f5;



$layout-header-height: 40px;
$height-base: 40px;
$heading-3-size: 24px;
$font-size-base: 16px;
